<div class="container mb-5">
  <div class="row">
    <div class="col-md-10 offset-md-1">
      <h3>Comments:</h3>
      <div id="comments">
        <%= render partial: 'comments/form', locals: { commentable: @post } %>
        <%= render @post.comments.where(parent_id: nil), max_nesting: 5 %>
      </div>
    </div>
  </div>
</div>
