<div class="container mb-5">
  <% if user_signed_in? %>
  <div class="row">
    <div class="col-md-10 offset-md-1">
      <h3>Comments:</h3>
      <div id="comments">
        <%= render partial: 'comments/form', locals: { commentable: @post } %>
        <%= render @post.comments.where(parent_id: nil), max_nesting: 5 %>
      </div>
    </div>
  </div>
  <% else %>
  <div class="row">
    <div class="col-md-10 offset-md-1">
      <small class='text-muted'>Please login or sign up to comment</small>
      <h3>Comments:</h3>
      <div id="comments">
        <%= render @post.comments.where(parent_id: nil), max_nesting: 5 %>
      </div>
    </div>
  </div>
  <% end %>
</div>
