<div class="jumbotron">
  <div class="container text-center">
    <h1 class="display-4 text-center mt-4">MoreAlike</h1>
    <p class="lead text-center">Highlighting our similarities over differences.</p>
    <hr class="my-4">
    <a class="btn text-center mt-4" href="mailto:odell.purifoy@gmail.com" role="button" id="jumboButton">Submit Your Story Here</a>
  </div>
</div>
